<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CO.Properties.Settings>
            <setting name="IsStartWithWindowStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RectHotKey" serializeAs="String">
                <value>Shift+Alt+1</value>
            </setting>
            <setting name="FullHotKey" serializeAs="String">
                <value>Shift+Alt+2</value>
            </setting>
            <setting name="OrcHotKey" serializeAs="String">
                <value>Shift+Alt+3</value>
            </setting>
        </CO.Properties.Settings>
    </userSettings>
</configuration>